.maintenance, .repair{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 33.34%; /* Mantiene la relación de aspecto de la imagen (2028:676) */
  margin: 0px;
  padding-top: 0px;
  position: relative;
}
.maintenance{
  background-image: url('../../assets/images/maintenance.png');
}
.repair{
  background-image: url('../../assets/images/repair.png');
}

.custom-carousel .carousel-card-maintenance,
.custom-carousel .carousel-card-repair {
  position: absolute;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: 160px;
}

.custom-carousel .maintenance .carousel-card-maintenance {
  top: 30%;
  left: 57%;
}
.custom-carousel .maintenance .carousel-card-maintenance .card-title {
  font-size: 1.5em;
  font-weight: bold;
}
.custom-carousel .maintenance .carousel-card-maintenance .card-subtitle {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(169, 169, 169);
}

.custom-carousel .maintenance .carousel-card-maintenance .card-text {
  font-size: 1.1em;
  color: rgb(169, 169, 169);
}

.custom-carousel .repair .carousel-card-repair {
  top: 30%;
  left: 10%;
}
.custom-carousel .repair .carousel-card-repair .card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
.custom-carousel .repair .carousel-card-repair .card-subtitle {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(44, 44, 44);
}
.custom-carousel .repair .carousel-card-repair .card-text {
  color: rgb(17, 17, 17);
}






